# `mydstools` - Usage examples (Work in progress)

For the sake of this demonstration, let's import `pandas` first and create a dummy dataframe.

In [7]:
import pandas as pd

dirty_cats = ['monday', 'Tusday', 'Wednesday',
              'thurda', 'Firday', 'saty', 'Sunday']
clean_cats = ['Monday', 'Tuesday', 'Wednesday',
              'Thursday', 'Friday', 'Saturday', 'Sunday']

df = pd.DataFrame({'dirty_cats': dirty_cats, 'clean_cats': clean_cats})
df

  dirty_cats clean_cats
0     monday     Monday
1     Tusday    Tuesday
2  Wednesday  Wednesday
3     thurda   Thursday
4     Firday     Friday
5       saty   Saturday
6     Sunday     Sunday

# Cleaning operations
## Column names

In [8]:
df.columns = ['    Dirty  categorieS', ':/Clean !@#$%&*(){}[];:.,/\|˜ Categories']
df

      Dirty  categorieS :/Clean !@#$%&*(){}[];:.,/\|˜ Categories
0                monday                                   Monday
1                Tusday                                  Tuesday
2             Wednesday                                Wednesday
3                thurda                                 Thursday
4                Firday                                   Friday
5                  saty                                 Saturday
6                Sunday                                   Sunday

In [9]:
from mydstools.cleaning import clean_col_names

df.columns = clean_col_names(df.columns)
df

  dirty_categories clean_categories
0           monday           Monday
1           Tusday          Tuesday
2        Wednesday        Wednesday
3           thurda         Thursday
4           Firday           Friday
5             saty         Saturday
6           Sunday           Sunday

## Converting a currency string variable into `float` (and keep a separate currency `str` variable)

In [1]:
from mydstools.cleaning import currency_to_float

In [3]:
prices = ["EUR 1200,45", "  23,000.12 $", "123,000.56USD", "$45", "$ 56,90", '51,90']

v, c = currency_to_float(prices)
print("Values:")
print(v)
print("Currencies:")
print(c)

Values:
[1200.45, 23000.12, 123000.56, 45.0, 56.9, 51.9]
Currencies:
['EUR', '$', 'USD', '$', '$', '']

In [6]:
prices = pd.Series(prices)
print(prices)

v, c = currency_to_float(prices)
print("\nValues:")
print(v)
print("\nCurrencies:")
print(c)

0      EUR 1200,45
1      23,000.12 $
2    123,000.56USD
3              $45
4          $ 56,90
5            51,90
dtype: object

Values:
0      1200.45
1     23000.12
2    123000.56
3        45.00
4        56.90
5        51.90
dtype: float64

Currencies:
0    EUR
1      $
2    USD
3      $
4      $
5
dtype: object