In [1]:
import pandas as pd

# Salesforce integration

In [2]:
from mydstools.connectors import SalesforceConn as Salesforce

sf = Salesforce('antonio.buzzelli@rydoo.com', 'Ntnbzzll90', 'v93T9oE7PETCzkexywmPXGaf')
sf.get_report('00O5J000000hW1lUAE')

,lead_id,company_account,lead_source_lookup_lead_source_level_4,region,lead_status,lead_owner,company_size_segment,create_date,lead_source_type
0,00Q5J000008OT1k,s'estel,Direct,IBERIA,MQL - New,Florence Dierckx,2. Small,31/01/2023,Inbound
1,00Q5J000008OSf8,Sodexo Polska,Direct,ROW,MQL - New,Maria Reyes,2. Small,30/01/2023,Inbound
2,00Q5J000008ORdH,PKAir Finance,Direct,ROW,MQL - New,Florence Dierckx,1. Micro,26/01/2023,Inbound
3,00Q5J000008OQeP,Goldenergy PT,Other referral,NaN,Converted (SQL),Sara Caballero,2. Small,24/01/2023,Inbound
4,00Q5J000008OQLz,Tenowo GmbH,Direct,DACH,Converted (SQL),Jeremie Lux,4. High Mid-Market,23/01/2023,Inbound
...,...,...,...,...,...,...,...,...,...
4156,00Q5J000001EmEl,Pentagon Sport (South) Limited,Org. Google,UK,MQL - New,Yannick Van Looy,1. Micro,9/03/2020,Inbound
4157,00Q5J000001Em43,Cebeo,Paid display,BENE,MQL - New,Jan Campi,None,9/03/2020,Inbound
4158,00Q5J000001Elr1,Vanderbilt Industries,Direct,ROW,MQL - New,Toby Davies,3. Low Mid-Market,9/03/2020,Inbound
4159,00Q5J000001Elhi,AAA,Integration,UK,MQL - New,Toby Davies,2. Small,9/03/2020,Inbound
4160,00Q5J000001ElhI,Vanbreda Risk & Benefits,Org. Google,BENE,MQL - New,Jonathan Temmerman,3. Low Mid-Market,9/03/2020,Inbound

In [8]:
json = sf.query("SELECT Id, Name FROM Account")
df = pd.DataFrame.from_dict(json)
df

                                                 records  totalSize  done
0      {'attributes': {'type': 'Account', 'url': '/se...      35719  True
1      {'attributes': {'type': 'Account', 'url': '/se...      35719  True
2      {'attributes': {'type': 'Account', 'url': '/se...      35719  True
3      {'attributes': {'type': 'Account', 'url': '/se...      35719  True
4      {'attributes': {'type': 'Account', 'url': '/se...      35719  True
...                                                  ...        ...   ...
35714  {'attributes': {'type': 'Account', 'url': '/se...      35719  True
35715  {'attributes': {'type': 'Account', 'url': '/se...      35719  True
35716  {'attributes': {'type': 'Account', 'url': '/se...      35719  True
35717  {'attributes': {'type': 'Account', 'url': '/se...      35719  True
35718  {'attributes': {'type': 'Account', 'url': '/se...      35719  True

[35719 rows x 3 columns]